# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large files & checkpoints not tracked
*.zip
*.tar.gz
*.pth

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/
